.inFormBackground {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.inFormBackground,
.inLoginForm {
    width: 25rem;
    height: 30rem;
    max-width: 320px;
    position: relative;
}

.circle {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle:first-child {
    left: -20%;
    top: -12%;
    background: linear-gradient(#A75D5D, #FFC3A1);
}

.circle:nth-child(2) {
    right: -22%;
    bottom: -14%;
    background: linear-gradient(164deg, #FFC3A1, #A75D5D);
}

.inLoginForm form {
    top: 50%;
    left: 50%;
    width: 16rem;
    height: 24rem;
    max-width: 320px;
    position: absolute;
    padding: 50px 25px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.13);
}

form * {
    border: none;
    outline: none;
    color: #A75D5D;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-top: -50px;
}

.inputGroup input {
    width: 92%;
    height: 50px;
    display: block;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.07);
}

::placeholder {
    color: #D3756B;
}

.submitForm {
    width: 100%;
    z-index: 1;
    margin-top: 10px;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: #F0997D;
    margin-bottom: 20px;
}

.submitForm::before {
    content: "";
    top: 0%;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    transition: left 0.4s, color 0.4s;
    background-color: #D3756B;
}

.submitForm:hover {
    color: #fff;
}

.submitForm:hover::before {
    left: 0%;
}

.registerbtn {
    background-color: #a75d5d00;
}